<nav class="nav-me">
    <h1 class="brand">IGN Web</h1>

    <ul v-show="!isMobile">
        <li><a href="#about">About</a></li>
        <li><a href="#port">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>