<div class="portfolio-content" id="port" data-aos="fade-right">
    <h2>Projects</h2>
    <div class="port">
        <div class="portfolio-link">
            <h3>IGN Web</h3>
            <div class="desc">
                <p>Description:</p>
                <p>Portfolio website.</p>
            </div>
            <div class="tech">
                <p>Tech Used:</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Bootstrap</li>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>EJS</li>
                    <li>Vue.js</li>
                    <li>Axios</li>
                    <li>Mongoose</li>
                </ul>
            </div>
            <a href="https://www.ian-natividad.com" target="_blank">View</a>
        </div>

        <div class="portfolio-link">
            <h3>The Burger House</h3>
            <div class="desc">
                <p>Description:</p>
                <p>A sample website for a restaurant.</p>
            </div>
            <div class="tech">
                <p>Tech Used:</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
            <a href="https://iannator10.github.io/the-burger-house/" target="_blank">View</a>
        </div>

        <div class="portfolio-link">
            <h3>CSE Reviewer</h3>
            <div class="desc">
                <p>Description:</p>
                <p>A reviewer website where you can study for the Civil Service Exam in the Philippines</p>
            </div>
            <div class="tech">
                <p>Tech Used:</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
            <a href="https://iannator10.github.io/cse-reviewer/" target="_blank">View</a>
        </div>

        <div class="portfolio-link">
            <h3>Password Generator</h3>
            <div class="desc">
                <p>Description:</p>
                <p>A website where you can generate passwords.</p>
            </div>
            <div class="tech">
                <p>Tech Used:</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>EJS</li>
                </ul>
            </div>
            <a href="https://ign-password-generator.herokuapp.com/" target="_blank">View</a>
        </div>

        <div class="portfolio-link">
            <h3>Relaxer App</h3>
            <div class="desc">
                <p>Description:</p>
                <p>A relaxation app.</p>
            </div>
            <div class="tech">
                <p>Tech Used:</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>EJS</li>
                </ul>
            </div>
            <a href="https://relaxer-app.herokuapp.com/" target="_blank">View</a>
        </div>
    </div>

    <h2>Ongoing Projects</h2>

    <div class="ongoing">
        <ul>
            <li>Dreat Tutorial Center</li>
            <li>Snake Game</li>
        </ul>

    </div>
</div>