<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

<body>
    <div id="mainDom">
        <div class="container-fluid">
            <div class="main-content">
                <%- include('partials/nav') %>
                <div class="header">
                    <div class="main-one" data-aos="fade-right">
                        <p class="lead">Software Enginner</p>
                        <p class="lead">Developer</p>
                        <p class="lead">UI/UX Designer</p>
                        <p class="lead">Electronics</p>
                    </div>
                    <div class="main-two" data-aos="fade-left">
                        <h1 class="hello">Hello,<br> I am Ian</h1>
                    </div>
                </div>
                <div class="down" v-show="!isMobile">
                    <a href="#about">V</a>
                </div>
            </div>
            <div class="container about-content" id="about" data-aos="fade-left">
                <div class="main-container">
                    <div class="main-one" data-aos="fade-right">
                        <p class="name"><strong>Ian Natividad</strong></p>
                        <p>I am a Software Engineer, developer, and UX/UI designer based in Philippines.</p>
                        <p><a href="https://github.com/iannator10" target="_blank" rel="noopener noreferrer">Github</a>
                        </p>
                    </div>
                    <div class="main-two" data-aos="fade-left">
                        <h3>Skills:</h3>
                        <div class="skills" data-aos="fade-left">
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JavaScript</li>
                            </ul>
                            <ul>
                                <li>Bootstrap</li>
                                <li>Sass</li>
                                <li>Scss</li>
                            </ul>
                            <ul>
                                <li>Node.js</li>
                                <li>Express</li>
                                <li>EJS</li>
                            </ul>
                            <ul>
                                <li>Vue.js</li>
                                <li>Axios</li>
                            </ul>
                            <ul>
                                <li>MongoDB</li>
                                <li>Mongoose</li>
                            </ul>
                            <ul>
                                <li>Moment.js</li>
                                <li>puppeteer</li>
                                <li>AOS</li>
                                <li>socket.io</li>
                            </ul>
                            <ul>
                                <li>GIT</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('partials/portfolio') %>
            <div class="container contact-content" id="contact" data-aos="fade-left">
                <div class="container">
                    <div class="contact-main-container">
                        <div class="contact-header">
                            <h1>{{ title }}</h1>
                        </div>
                        <div class="contact-body">
                            <form>
                                <div class="form-group">
                                    <label for="emailInput">Email address</label>
                                    <input type="email" class="form-control" id="emailInput"
                                        aria-describedby="emailHelp" v-model="email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone
                                        else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="subjectInput">Subject</label>
                                    <input type="text" class="form-control" id="subjectInput" aria-describedby="Subject"
                                        v-model="subject">
                                </div>
                                <div class="form-group">
                                    <label for="messageInput">Message</label>
                                    <textarea class="form-control textarea" id="messageInput" rows="6"
                                        v-model="message"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="contact-footer">
                            <button type="submit" class="btn btn-primary" v-on:click="submit">Submit</button>
                            <div v-show="isSubtMessage" class="submit-message">
                                <p>{{ submitMessage }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1200,
        })
    </script>
</body>

</html>