<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

<body>
    <div id="mainDom">
        <%- include('partials/nav') %>
        <div class="container-fluid">
            <transition name="slide">
                <div v-show="isContent" class="main-content">
                    <div class="jumbotron">
                        <div class="main-one">
                            <p class="lead">Software Enginner</p>
                            <p class="lead">Developer</p>
                            <p class="lead">UX/UI Designer</p>
                            <p class="lead">Freelance</p>
                        </div>
                        <div class="main-two">
                            <h1 class="hello">Hello,<br> I am Ian</h1>
                            <a class="btn" href="/contact" role="button">Contact</a>
                        </div>
                    </div>
                </div>
            </transition>
            <transition name="slide">
                <div v-show="isAbout" class="about-content">
                    <div class="main-container">
                        <div class="main-one">
                            <img class="img-fluid" src="/img/iannatividad.jpg" />
                        </div>
                        <div class="main-two">
                            <p><strong>Ian Natividad</strong></p>
                            <p>I am a Software Engineer, developer, and UX/UI designer based in Philippines.<br>
                                Local and international clients have relied on me for design,
                                implementation, and management of their digital products.</p>
                            <p>As a freelancer, I works also with web agencies, companies,
                                startups and individuals to help them grow their business.</p>
                            <h3>Skills:</h3>
                            <div class="skills">
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS & HTML Preprocessors</li>
                                    <li>Bootstrap</li>
                                </ul>
                                <ul>
                                    <li>CSS</li>
                                    <li>Sass</li>
                                    <li>Scss</li>
                                </ul>
                                <ul>
                                    <li>Javascript</li>
                                    <li>JQuery</li>
                                    <li>Vue.js</li>
                                    <li>Node.js</li>
                                    <li>Express</li>
                                    <li>ESLint</li>
                                    <li>NPM</li>
                                </ul>
                                <ul>
                                    <li>Wordpress</li>
                                    <li>Accelerated Mobile Pages (AMP)</li>
                                    <li>Shopify</li>
                                </ul>
                                <ul>
                                    <li>Progressive Web Apps</li>
                                    <li>GIT</li>
                                    <li>Design thinking</li>
                                    <li>Design sprint</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
            <transition name="slide">
                <div v-show="isPortfolio" class="portfolio-content">
                    <div class="main-content">
                        <div class="portfolio-link">
                            <a href="https://iannator10.github.io/the-burger-house/" target="_blank">The Burger
                                House</a>
                        </div>
                        <div class="portfolio-link">
                            <a href="https://iannator10.github.io/cse-reviewer/" target="_blank">CSE Reviewer</a>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </div>

    <script src="/js/index.js"></script>
</body>

</html>