@import "reset";
@import "variables";
@import "mixins";
@import "scrollbar";

html {
    scroll-behavior: smooth;
}

.container-fluid {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    .main-content {
        height: $full-height;
        width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background: #1a1a1a url("../img/bg.jpg") no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .nav-me {
            background-color: rgba(255, 255, 255, 1);

            display: flex;
            justify-content: space-between;

            padding: 0.5rem;

            @include for-phone-only {
                display: flex;
                justify-content: center;
            }

            h1 {
                font-size: 2em;
                margin-top: 0.5rem;
                color: #1a1a1a;
            }

            ul {
                display: flex;
                margin-top: 1rem;
                margin-right: 2rem;

                li {
                    list-style-type: none;
                    margin-right: 1rem;

                    a {
                        text-decoration: none;
                        background-color: #1a1a1a;
                        padding: 1rem;
                        color: #fff;
                        font-size: 1rem;
                        border-radius: 10%;
                        box-shadow: 0rem 0rem 0.2rem 0.1rem #aaa;

                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }
        }

        .header {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;

            @include for-phone-only {
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-evenly;
                height: 100%;
            }

            .main-one {
                width: 50vw;

                p {
                    color: #fff;
                }

                @include for-phone-only {
                    padding: 0;
                    margin: 0;

                    width: 100vw;
                }

                .lead {
                    text-align: center;

                    @include for-phone-only {
                        padding: 0;
                        margin: 0;
                    }
                }
            }

            .main-two {
                width: 50vw;

                @include for-phone-only {
                    padding: 0;
                    margin: 0;

                    width: 100vw;
                }

                .hello {
                    font-size: 5em;
                    padding-left: 1em;
                    border-left: 0.1em solid $gray;
                    color: #fff;

                    @include for-phone-only {
                        text-align: center;
                        font-size: 3em;

                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }

        .down {
            padding: 0;
            margin: 1rem;

            display: flex;
            justify-content: center;

            a {
                font-size: 2rem;
                text-decoration: none;
                color: #fff;

                border: 0.2rem solid #fff;
                padding: 0.5rem;

                border-radius: 10%;
                box-shadow: 0rem 0rem 0.5rem 0.1rem #aaa;

                cursor: pointer;

                &:hover {
                    background-color: #1a1a1a;
                    color: #fff;
                }

                @include for-phone-only {
                    font-size: 1rem;
                }
            }
        }
    }

    .about-content {
        height: $full-height;

        @include for-phone-only {
            margin: 0;
            padding: 0;
            margin-top: 10rem;
            width: $full-width;
        }

        .main-container {
            display: flex;
            flex-direction: row;
            padding-top: 5em;

            @include for-phone-only {
                flex-direction: column;
                margin: 0;
                padding: 0;
                width: $full-width;
            }

            .main-one {
                display: flex;
                flex-direction: column;
                text-align: right;
                padding: 1em;
                width: $full-width;
                border-right: 0.1em solid $gray;

                @include for-phone-only {
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    border: none;
                }
            }

            .main-two {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                padding: 1em;
                width: $full-width;
                border-left: 0.1em solid #fff;
                margin-right: 15em;

                @include for-phone-only {
                    align-self: center;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    margin-top: 1em;
                }

                .name {
                    @include for-phone-only {
                        text-align: center;
                    }
                }

                .skills {
                    @include for-phone-only {
                        margin: 0;
                        padding: 0;
                        width: 100vw;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    ul {
                        display: flex;
                        flex-direction: row;
                        margin: 0em;
                        padding: 0em;

                        @include for-phone-only {
                            align-self: center;
                            margin-top: 1em;
                        }

                        li {
                            list-style-type: none;
                            padding: 0.5em;
                            border: 0.1rem solid #1a1a1a;
                            margin: 0.5rem;
                            color: #fff;
                            border-radius: 10%;
                            box-shadow: 0rem 0rem 0.2rem 0.1rem #aaa;

                            @include for-phone-only {
                                padding: 0.5em;
                                font-size: 0.9em;
                            }

                            &:nth-child(1) {
                                background-color: darken($color: #ee7752, $amount: 25%);
                            }
                            &:nth-child(2) {
                                background-color: darken($color: #e73c7e, $amount: 25%);
                            }
                            &:nth-child(3) {
                                background-color: darken($color: $blue, $amount: 25%);
                            }
                            &:nth-child(4) {
                                background-color: darken($color: #23d5ab, $amount: 25%);
                            }
                            &:nth-child(5) {
                                background-color: darken($color: #ee7752, $amount: 25%);
                            }
                            &:nth-child(6) {
                                background-color: darken($color: #ee7752, $amount: 25%);
                            }
                            &:nth-child(7) {
                                background-color: darken($color: $blue, $amount: 25%);
                            }
                        }
                    }
                }
            }
        }
    }

    .portfolio-content {
        padding: 0;
        margin: 0;
        width: 100%;

        @include for-phone-only {
            margin: 0;
            padding: 0;
            margin-top: 5em;
        }

        h2 {
            text-align: center;
            margin: 2rem;
        }

        .port {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 5rem;

            @include for-phone-only {
                flex-direction: column;
            }

            .portfolio-link {
                background-color: lighten($color: #1a1a1a, $amount: 10%);
                margin: 0.5rem;
                color: #fff;

                width: 20%;
                height: 65vh;

                position: relative;
                box-shadow: 0rem 0rem 0.5rem 0.1rem #aaa;

                @include for-phone-only {
                    width: 95%;
                    height: 60vh;
                    margin: 1;
                }

                h3 {
                    text-align: center;
                    padding: 1rem;
                    border-bottom: #fff solid 0.01rem;

                    @include for-phone-only {
                        font-size: 0.8rem;
                    }
                }

                .desc {
                    padding: 0.5rem;
                    height: 20vh;

                    @include for-phone-only {
                        font-size: 0.8rem;
                        height: auto;
                    }
                }

                .tech {
                    padding: 0.5rem;

                    @include for-phone-only {
                        font-size: 0.8rem;
                    }

                    ul {
                        list-style-type: none;

                        display: flex;
                        flex-wrap: wrap;

                        li {
                            text-decoration: none;
                            background-color: $blue;
                            padding: 0.5rem;
                            margin: 0.5rem;
                            font-size: 0.75rem;
                            border-radius: 10%;

                            @include for-phone-only {
                                font-size: 0.70rem;
                            }
                        }
                    }
                }

                a {
                    background-color: #23d5ab;
                    color: #1a1a1a;

                    text-decoration: none;
                    text-align: center;

                    padding: 1rem;
                    margin: 0;

                    position: absolute;
                    bottom: 0;

                    width: 100%;

                    @include for-phone-only {
                        font-size: 0.70rem;
                        padding: 0.5rem;
                    }

                    &:hover {
                        background-color: lighten($color: #23d5ab, $amount: 10%);
                    }
                }
            }
        }

        .ongoing {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;

            ul {
                margin: 0;
                padding: 0;

                li {
                    background-color: lighten($color: #1a1a1a, $amount: 10%);
                    color: #fff;
                    padding: 1rem;
                    margin: 0.5rem;
                    text-align: center;
                }
            }
        }
    }
}

.contact-content {
    height: $full-height;
    margin-top: 10rem;

    .container {
        padding: 2.5em;

        @include for-phone-only {
            padding: 0;
            margin: 0;
        }

        .contact-main-container {
            margin-right: 7.5em;
            margin-left: 7.5em;
            height: 550px;
            box-shadow: 0.1em 0.1em 1em 0.01em #aaa;
            position: relative;

            @include for-phone-only {
                margin: 0;
                padding: 0;
                padding-top: 1em;
                height: $full-height;
            }

            .contact-header {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                background-color: #1a1a1a;
                color: #fff;
                padding: 0.5em;

                h1 {
                    font-size: 2em;
                    padding-right: 0.5em;
                }
            }

            .contact-body {
                padding: 1em;

                .textarea {
                    resize: none;
                }
            }

            .contact-footer {
                display: flex;
                justify-content: space-between;
                background-color: #aaa;
                position: absolute;
                width: 100%;
                height: 10vh;
                bottom: 0;

                .submit-message {
                    padding: 1em;
                    color: #fff;
                }

                button {
                    margin-right: 0;
                    width: 20%;

                    @include for-phone-only {
                        width: 40%;
                    }
                }
            }
        }
    }
}
