@import "reset";
@import "variables";
@import "mixins";
@import "scrollbar";

.container {
    @include for-phone-only {
        margin: 0;
        padding: 0;
        position: absolute;
    }

    .nav-me {
        text-align: center;

        h1 {
            font-size: 2em;
        }

        @include for-phone-only {
            display: none;
        }
    }

    .main-content {
        display: flex;
        flex-direction: row;
        height: $full-height;
        margin: 0;
        padding: 0;

        @include for-phone-only {
            display: flex;
            flex-direction: column-reverse;
            width: 100vw;
        }

        .main-one {
            width: 50vw;
            padding-top: 10em;

            @include for-phone-only {
                padding: 0;
                margin: 0;
                width: 100vw;
                height: 100vh;
            }

            .lead {
                text-align: center;

                @include for-phone-only {
                    padding: 0;
                    margin: 0;
                }
            }
        }

        .main-two {
            width: 50vw;
            padding-top: 8em;

            @include for-phone-only {
                padding: 0;
                margin: 0;
                padding-top: 5em;
                width: 100vw;
                height: 100vh;
            }

            .hello {
                font-size: 5em;
                padding-left: 1em;
                border-left: 0.1em solid $gray;

                @include for-phone-only {
                    text-align: center;
                    padding: 0;
                    font-size: 3em;
                    margin: 0;
                    width: 100vw;
                }
            }

            .btn {
                background-color: transparent;
                border: solid 0.1em $blue;
                color: $blue;
                margin-top: 2em;
                margin-left: 5em;

                @include for-phone-only {
                    display: none;
                }

                &:hover {
                    color: darken($color: $blue, $amount: 15%);
                    border: solid 0.1em darken($color: $blue, $amount: 15%);
                }
            }
        }
    }

    .about-content {
        height: $full-height;

        @include for-phone-only {
            margin: 0;
            padding: 0;
            width: $full-width;
        }

        .main-container {
            display: flex;
            flex-direction: row;
            padding-top: 5em;

            @include for-phone-only {
                flex-direction: column;
                margin: 0;
                padding: 0;
                width: $full-width;
            }

            .main-one {
                display: flex;
                justify-content: flex-end;
                padding: 1em;
                width: $full-width;
                border-right: 0.1em solid $gray;

                @include for-phone-only {
                    justify-content: center;
                    margin: 0;
                    padding: 0;
                    border: none;
                }

                .img-me {
                    width: auto;
                    height: 50%;

                    @include for-phone-only {
                        margin: 0;
                        padding: 0;
                        width: 25%;
                    }
                }
            }

            .main-two {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                padding: 1em;
                width: $full-width;
                border-left: 0.1em solid #fff;
                margin-right: 15em;

                @include for-phone-only {
                    align-self: center;
                    margin: 0;
                    padding: 0;
                    margin-top: 1em;
                    border: none;
                    width: 70vw;
                }

                .name {
                    @include for-phone-only {
                        text-align: center;
                    }
                }

                .skills {
                    @include for-phone-only {
                        width: 100vw;
                    }
                    ul {
                        display: flex;
                        flex-direction: row;
                        margin: 0em;
                        padding: 0em;

                        @include for-phone-only {
                            align-self: center;
                            margin-top: 1em;
                        }

                        li {
                            list-style-type: none;
                            padding: 0.5em;

                            @include for-phone-only {
                                padding: 0.2em;
                                font-size: 0.9em;
                            }

                            &:nth-child(1) {
                                color: darken($color: #ee7752, $amount: 25%);
                            }
                            &:nth-child(2) {
                                color: darken($color: #e73c7e, $amount: 25%);
                            }
                            &:nth-child(3) {
                                color: darken($color: $blue, $amount: 25%);
                            }
                            &:nth-child(4) {
                                color: darken($color: #23d5ab, $amount: 25%);
                            }
                            &:nth-child(5) {
                                color: darken($color: #ee7752, $amount: 25%);
                            }
                            &:nth-child(6) {
                                color: darken($color: #ee7752, $amount: 25%);
                            }
                            &:nth-child(7) {
                                color: darken($color: $blue, $amount: 25%);
                            }
                        }
                    }
                }
            }
        }
    }

    .portfolio-content {
        display: flex;
        justify-content: center;
        height: $full-height;
        padding: 0;
        margin: 0;
        width: 100%;

        @include for-phone-only {
            margin: 0;
            padding: 0;
            margin-top: 5em;
        }

        .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 2em;
            width: 100%;

            .portfolio-nav {
                margin: 0;
                padding: 0;
                padding-bottom: 2em;
                width: 25vw;

                @include for-phone-only {
                    padding: 5em;
                    width: 100%;
                }

                .port-nav-list {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;

                    .port-nav-item {
                        list-style-type: none;
                        font-size: 1.2em;
                        cursor: pointer;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        font-size: 2em;

                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }

            .portfolio-content {
                margin: 0;
                padding: 0;
                margin-top: 5em;

                .port-one,
                .port-two,
                .port-three {
                    .portfolio-link {
                        border: 0.2em solid $blue;
                        text-align: center;
                        margin: 0;
                        padding: 1em;

                        @include for-phone-only {
                            width: 100%;
                        }

                        &:hover {
                            border: 0.2em solid darken($color: $blue, $amount: 25%);
                            transition: 0.1s;
                            text-decoration: none;
                        }

                        a {
                            color: $blue;
                            padding: 1em;
                            text-decoration: none;

                            &:hover {
                                color: darken($color: $blue, $amount: 25%);
                                text-decoration: none;
                            }
                        }
                    }
                }

                .slide-fade-enter-active {
                    transition: all 0.1s ease;
                }
                .slide-fade-leave-active {
                    transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
                }
                .slide-fade-enter,
                .slide-fade-leave-to {
                    transform: translateX(10px);
                    opacity: 0;
                }
            }
        }
    }

    .contact-content {
        height: $full-height;

        .container {
            padding: 2.5em;

            @include for-phone-only {
                padding: 0;
                margin: 0;
            }

            .contact-main-container {
                margin-right: 7.5em;
                margin-left: 7.5em;
                height: 550px;
                box-shadow: 0.1em 0.1em 1em 0.01em #aaa;
                position: relative;

                @include for-phone-only {
                    margin: 0;
                    padding: 0;
                    padding-top: 1em;
                    height: $full-height;
                }

                .contact-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    background-color: #1a1a1a;
                    color: #fff;
                    padding: 0.5em;

                    h1 {
                        font-size: 2em;
                        padding-right: 0.5em;
                    }
                }

                .contact-body {
                    padding: 1em;

                    .textarea {
                        resize: none;
                    }
                }

                .contact-footer {
                    display: flex;
                    justify-content: space-between;
                    background-color: #aaa;
                    position: absolute;
                    width: 100%;
                    height: 10vh;
                    bottom: 0;

                    .submit-message {
                        padding: 1em;
                        color: #fff;
                    }

                    button {
                        margin-right: 0;
                        width: 20%;
                    }
                }
            }
        }
    }
}
